/* Stop overflow by removing base padding/margin */
body,
html {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Define color scheme */
  --blue: #2e4bb1ff;
  --orange: #ff6700ff;
  --green: #849324ff;
  --red: #c3423f;
  --white: #ebebebff;
  --gray: #c0c0c0ff;
  --black: #1f1f1f;

  background-color: var(--gray);
}

/* Force top-level container to take entire screen */
#root {
  height: 100vh;
  width: 100vw;
}
